body {
	margin: 5rem;
	font-size: 2rem;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 600;
	background-color: black;
	color: white;
}
header {
	margin-bottom: 5rem;
}
header h1 a {
	text-decoration: none;
	font-size: 3rem;
	font-weight: 900;
	padding: 1rem;
	text-transform: uppercase;
}
h1{
	background-color: #FFA015;
	padding: 1rem;
	width: 30rem;
}

h1 a {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 3rem;
  background: linear-gradient(to bottom, #FFA015, #000 55%, #fff 55%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  transition:  0.2s ease-out;
  white-space: nowrap;

}

h1 span {
  position: relative;
}

h1 span:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 15px;
  background: #000;
  bottom: 9px;
  transition: all 0.2s ease-out;
}

h1 a:hover {
  background-position: 0 11px;
}

h1 span:hover:before {
  transform: translateY(10px)
}

header nav ul {
	display: flex;
	flex-direction: column;
}

header nav ul li {
	margin-top:4rem;
}

header nav ul li a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 2rem;
}

header nav ul li a:nth-child(1){
	margin-left: 0rem;
}

header nav ul li a:hover{
	border-bottom: 0.3rem solid white;
	border-top: 0.3rem solid white;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #FFA015;
}

header nav ul li a.selected {
	color: #FFA015;
	border-bottom: 0.3rem solid white;
	border-top: 0.3rem solid white;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

header {
	margin-bottom: 5rem;
}

main h2 {
	color: white;
	font-size: 2.25rem;
	font-weight: 900;
	margin-bottom: 3rem;
	text-decoration:underline;
}

main p {
	line-height: 3rem;
	margin-bottom: 3rem;
}

img {
	max-width: 100%;
}

main h3 {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 3rem;
	color:white;
}

main ul.blog li a {
	color: white;
}

main ul.blog li {
	margin-bottom: 2rem;
}

main {
	margin-bottom: 5rem;
}

.show{
	display: block;
}

.close{
	display: none;
}

.container{
	position: absolute;
	right: 5rem; top: 5rem;
}
.bar1, .bar2, .bar3 {
  width: 7rem;
	height: 1rem;
  background-color: white;
  margin: 1rem 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


@media (min-width: 800px) {
	.close{
		display: flex;
	}

	header h1{
			width: 45rem;
	}
	header nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 40rem;
		margin-top: 0;
	}

	header nav ul li {
		margin-top: 0;
	}

	header nav {
		position: absolute;
		top: 8rem;
		right: 5rem;
	}

	header h1 a{
		font-size: 5rem;
	}


	.container{
		display: none;
	}
}
